<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title layout:title-pattern="$CONTENT_TITLE $LAYOUT_TITLE">- GridWars</title>

    <link th:href="@{/static/favicon.ico}" rel="icon" type="image/x-icon"/>
    <link th:href="@{/static/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/static/css/gridwars.css}" rel="stylesheet" type="text/css">

    <script th:src="@{/static/js/jquery.min.js}"></script>
    <script th:src="@{/static/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
    <!-- TODO improve navbar layout: https://getbootstrap.com/docs/4.0/components/navbar/#color-schemes -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" th:href="@{/}">
            <img th:src="@{/static/img/cern_logo.png}" width="30" height="30" alt="">
            <span class="align-baseline">CERN GridWars</span>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
                <li th:if="${currentUser}" class="nav-item">
                    <a class="nav-link" th:href="@{/match/scores}">Scoreboard</a>
                </li>
                <li th:if="${currentUser}" class="nav-item">
                    <a class="nav-link" th:href="@{/match/list}">Matches</a>
                </li>
                <li th:if="${currentUser}" class="nav-item">
                    <a class="nav-link" th:href="@{/bot/upload}">Bot Upload</a>
                </li>
                <li th:if="${currentUser != null && currentUser.admin}" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="adminDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>
                    <div class="dropdown-menu" aria-labelledby="adminDropdown">
                        <a class="dropdown-item" th:href="@{/admin/h2}" target="_blank">H2 Console</a>
                    </div>
                </li>
            </ul>

            <div th:unless="${currentUser}">
                <a th:href="@{/user/signin}" th:text="#{layout.main.signin}" target="_self" class="navbar-text"></a>
                <a th:href="@{/user/signup}" th:text="#{layout.main.signup}" target="_self" class="navbar-text ml-3"></a>
            </div>

            <form th:if="${currentUser}" th:action="@{/user/signout}" id="signOutForm" method="post" class="form-inline my-2 my-lg-0">
                <a href="#" class="navbar-text">
                    <span th:text="${currentUser.username}"></span><span th:if="${currentUser.admin}" class="ml-1">(admin)</span>
                </a>
                <a href="javascript:{}" th:text="#{layout.main.signout}" onclick="document.getElementById('signOutForm').submit();" class="navbar-text ml-3"></a>
            </form>
        </div>
    </nav>

    <main role="main" class="container" layout:fragment="content"></main>
</body>
</html>
