# IntelliJ IDEA
.idea/
*.iml

# Gradle and build output
.gradle/
build/
out/
target/
!gradle/wrapper/gradle-wrapper.jar

# Java build output
*.class

# Default excludes
*.tmp
*.zip
*.log

# Web app files
#web/work/**/*.jar
