# IntelliJ IDEA
.idea/
*.iml

# Gradle and build output
.gradle/
build/
out/
target/
!gradle/wrapper/gradle-wrapper.jar

# Java build output
*.class

# Default excludes
*.tmp
*.zip
*.log

# web application files
/web-app/WEB-INF/classes
/web-app/api
/web-app/db
/web-app/META-INF
/web-app/player-jars
/web-app/player-outputs
