<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <title th:text="#{page.user.signup.title}"></title>
</head>
<body>
<main layout:fragment="content" class="container">
    <div class="signup-form mx-auto">
        <h2 th:text="#{page.user.signup.title}" class="mb-3"></h2>

        <form th:action="@{/user/signup}" th:object="${newUser}" method="post">
            <div class="form-group">
                <label th:text="#{page.user.signup.username}"></label>
                <input th:field="*{username}" name="username" class="form-control" type="text" th:placeholder="#{page.user.signup.username}" th:errorclass="is-invalid" pattern="[A-Za-z0-9-_]+" minlength="4" maxlength="16" required autofocus/>
                <small th:text="#{page.user.signup.username.help}" class="form-text text-muted"></small>
                <p th:each="error : ${#fields.errors('username')}" th:text="${error}" class="text-danger"></p>
            </div>
            <div class="form-group">
                <label th:text="#{page.user.signup.password}"></label>
                <input th:field="*{password}" name="password" class="form-control" type="password" th:placeholder="#{page.user.signup.password}" th:errorclass="is-invalid" minlength="6" maxlength="32" required/>
                <small th:text="#{page.user.signup.password.help}" class="form-text text-muted"></small>
                <p th:each="error : ${#fields.errors('password')}" th:text="${error}" class="text-danger"></p>
            </div>
            <div class="form-group">
                <label th:text="#{page.user.signup.passwordMatch}"></label>
                <input id="passwordMatch" class="form-control" type="password" th:placeholder="#{page.user.signup.passwordMatch}" minlength="6" maxlength="32" required/>
            </div>
            <div class="form-group">
                <label th:text="#{page.user.signup.email}"></label>
                <input th:field="*{email}" name="email" class="form-control" type="email" th:placeholder="#{page.user.signup.email}" th:errorclass="is-invalid" maxlength="32" required/>
                <small th:text="#{page.user.signup.email.help}" class="form-text text-muted"></small>
                <p th:each="error : ${#fields.errors('email')}" th:text="${error}" class="text-danger"></p>
            </div>
            <div class="form-group">
                <label th:text="#{page.user.signup.teamName}"></label>
                <input th:field="*{teamName}" name="teamName" class="form-control" type="text" th:placeholder="#{page.user.signup.teamName}" th:errorclass="is-invalid" minlength="4" maxlength="24" required/>
                <small th:text="#{page.user.signup.teamName.help}" class="form-text text-muted"></small>
                <p th:each="error : ${#fields.errors('teamName')}" th:text="${error}" class="text-danger"></p>
            </div>
            <div>
                <button th:text="#{page.user.signup.submit}" type="submit" class="btn btn-primary"></button>
            </div>
        </form>
    </div>

    <script>
        const password = document.getElementById("password");
        const passwordMatch = document.getElementById("passwordMatch");

        function validatePassword() {
            if (password.value && (password.value !== passwordMatch.value)) {
                passwordMatch.classList.add("is-invalid");
                passwordMatch.setCustomValidity("Passwords do not match");
            } else {
                passwordMatch.classList.remove("is-invalid");
                passwordMatch.setCustomValidity("");
            }
        }

        password.onchange = validatePassword;
        passwordMatch.onkeyup = validatePassword;
    </script>
</main>
</body>
</html>
