<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <title>Sign In - GridWars</title>
</head>
<body>
<main layout:fragment="content" class="container">
    <div class="login-form">
        <h2 th:text="#{page.signin.title}"></h2>

        <div th:if="${param.error != null}" th:text="#{page.signin.error}" class="alert alert-danger" role="alert"></div>

        <div th:if="${param.created}" th:text="#{page.signin.created(${param.created})}" class="alert alert-success" role="alert"></div>

        <form name="f" action="/signin" method="post">
            <div class="form-group">
                <input name="username" type="text" class="form-control" th:placeholder="#{page.signin.username}" maxlength="16" autocomplete="username" required autofocus>
            </div>
            <div class="form-group">
                <input name="password" type="password" class="form-control" th:placeholder="#{page.signin.password}" maxlength="32" autocomplete="password" required>
            </div>
            <button type="submit" name="submit" th:text="#{page.signin.submit}" class="btn btn-primary"></button>
        </form>
    </div>
</main>
</body>
</html>
