<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <logger name="cern.ais.gridwars.web" level="DEBUG"/>

    <springProfile name="local">
        <!--<logger name="org.springframework.jdbc" level="DEBUG"/>-->
        <!--<logger name="org.springframework.transaction" level="DEBUG"/>-->
        <!--<logger name="org.springframework.security" level="INFO"/>-->
    </springProfile>
</configuration>
