<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <title th:text="'ERROR ' + ${errorCode}"></title>

    <style>
        .error-container {
            text-align: center;
        }
    </style>
</head>
<body>
    <main layout:fragment="content" class="container error-container">
        <h1 th:text="'ERROR ' + ${errorCode}"></h1>
        <p th:text="${errorMsg}" class="alert alert-danger"><</p>
    </main>
</body>
</html>
