<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <title>Bot Upload</title>
</head>
<body>
<main layout:fragment="content" class="container">
    <div class="upload-form">
        <h2 th:text="#{page.upload.title}"></h2>

        <div th:if="${error}" th:text="#{page.upload.error(${error})}" class="alert alert-danger" role="alert"></div>
        <div th:if="${success}" th:text="#{page.upload.success(${success})}" class="alert alert-success" role="alert"></div>

        <form th:action="@{/bot/upload}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label th:text="#{page.upload.jarFile}" for="botJarFile"></label>
                <input id="botJarFile" name="botJarFile" class="form-control" type="file" required accept=".jar">
            </div>
            <button type="submit" name="submit" th:text="#{page.upload.submit}" class="btn btn-primary"></button>
        </form>
    </div>

    <script>
        const uploadField = document.getElementById("botJarFile");
        const maxFileSize = 5 * 1024 * 1024; // 5MB

        uploadField.onchange = function() {
            if ((this.files.length > 0) && (this.files[0].size > maxFileSize)){
                uploadField.setCustomValidity("File is too big. The maximum upload file size is 5MB.");
            } else {
                uploadField.setCustomValidity("");
            }
        };
    </script>
</main>
</body>
</html>
