<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <title th:text="#{page.admin.users.title}"></title>

    <style>
        .worker-idle {
            background-color: lightgreen;
        }

        .worker-running {
            background-color: #fff3cd;
        }

        .worker-stopped {
            background-color: lightcoral;
        }
    </style>
</head>
<body>
<main layout:fragment="content" class="container">
    <h2 class="text-center" th:text="#{page.admin.users.title}"></h2>

    <div class="text-center">
        <div th:if="${started}" th:text="#{page.admin.worker.startSuccess}" class="alert alert-success d-inline-block" role="alert"></div>
        <div th:if="${wokenup}" th:text="#{page.admin.worker.wakeUpSuccess}" class="alert alert-primary d-inline-block" role="alert"></div>
        <div th:if="${stopped}" th:text="#{page.admin.worker.stopSuccess}" class="alert alert-warning d-inline-block" role="alert"></div>
    </div>

    <table class="table table-bordered table-sm">
        <thead class="thead-dark">
        <tr>
            <th scope="col" class="text-center" th:text="#{page.admin.worker.number}">Username</th>
            <th scope="col" class="text-center" th:text="#{page.admin.worker.number}">Team Name</th>
            <th scope="col" class="text-center" th:text="#{page.admin.worker.status}">Email</th>
            <th scope="col" class="text-center" th:text="#{page.admin.worker.status}">Is Admin</th>
            <th scope="col" class="text-center" th:text="#{page.admin.worker.status}">Status</th>
            <th scope="col" class="text-center" th:text="#{page.admin.worker.status}">Created</th>
            <th scope="col" class="text-center" th:text="#{page.admin.worker.status}">Confirmed</th>
            <th scope="col" class="text-center" th:text="#{page.admin.worker.status}">Action</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="workerStatus : ${workerStatuses}" th:class="'worker-' + ${workerStatus.status.name().toLowerCase()}">
                <td class="text-center" th:text="${workerStatus.number}"></td>
                <td class="text-center" th:text="${workerStatus.status}"></td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-around">
        <form th:action="@{/admin/worker(action=start)}" method="post" onsubmit="return confirm('Are you sure you want to START all workers?')">
            <button type="submit" th:text="#{page.admin.worker.start}" class="btn btn-success"></button>
        </form>
        <form th:action="@{/admin/worker(action=wakeup)}" method="post">
            <button type="submit" th:text="#{page.admin.worker.wakeUp}" class="btn btn-primary"></button>
        </form>
        <form th:action="@{/admin/worker(action=stop)}" method="post" onsubmit="return confirm('Are you sure you want to STOP all workers?')">
            <button type="submit" th:text="#{page.admin.worker.stop}" class="btn btn-danger"></button>
        </form>
    </div>
</main>
</body>
</html>
