<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <title th:text="#{page.admin.users.title}"></title>
</head>
<body>
<main layout:fragment="content" class="container">

    <div class="text-center">
        <div th:if="${success}" th:text="${success}" class="alert alert-success d-inline-block" role="alert"></div>
        <div th:if="${error}" th:text="${error}" class="alert alert-warning d-inline-block" role="alert"></div>
    </div>

    <div class="font-weight-light mb-1 text-center" th:text="#{page.common.results(${users.size()})}"></div>

    <table class="table table-bordered table-hover table-sm">
        <thead class="thead-dark">
        <tr>
            <th scope="col" class="text-center" th:text="#{page.admin.users.username}">Username</th>
            <th scope="col" class="text-center" th:text="#{page.admin.users.teamName}">Team Name</th>
            <th scope="col" class="text-center" th:text="#{page.admin.users.email}">Email</th>
            <th scope="col" class="text-center" th:text="#{page.admin.users.enabled}">Enabled</th>
            <th scope="col" class="text-center" th:text="#{page.admin.users.created}">Created</th>
            <th scope="col" class="text-center" th:text="#{page.admin.users.confirmed}">Confirmed</th>
            <th scope="col" class="text-center" th:text="#{page.admin.users.changePassword}">Change Password</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.username}"></td>
                <td th:text="${user.teamName}"></td>
                <td th:text="${user.email}"></td>
                <td class="text-center">
                    <i th:if="${user.enabled}" class="fas fa-check text-success"></i>
                    <i th:unless="${user.enabled}" class="fas fa-times text-danger"></i>
                </td>
                <td class="text-center" th:text="${#temporals.format(user.createdDateTime, 'dd-MM-yyyy HH:mm:ss')}"></td>
                <td class="text-center" th:text="${#temporals.format(user.confirmedDateTime, 'dd-MM-yyyy HH:mm:ss')}"></td>
                <td class="text-center">
                    <form th:action="@{/admin/users(action=changePassword)}" method="post" class="text-nowrap"
                          onsubmit="return confirm('Do you really want to change the password of the user?')">
                        <input name="userId" type="hidden" th:value="${user.id}">
                        <input name="newPassword" type="password" size="12" required>
                        <input type="submit" th:value="'Change'">
                    </form>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-around mt-1">
        <form th:action="@{/admin/users/export}" method="get">
            <button type="submit" th:text="#{page.admin.users.downloadEgroupsImportFile}" class="btn btn-primary"></button>
        </form>
    </div>
</main>
</body>
</html>
