body {
    padding-top: 5rem;
    padding-bottom: 3rem;
}

.signin-form,
.signup-form {
    max-width: 35rem;
}

.winner {
    color: goldenrod;
}

/* Compensates for the fixed top header when using #anchor tags in the URL to
   jump to sections in the getting started guide. */
a.anchor {
    display: block;
    position: relative;
    top: -6rem;
    visibility: hidden;
}
