<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <title th:text="#{page.matches.title}"></title>
</head>
<body>
    <main layout:fragment="content" class="container">
        <h1 class="text-center" th:text="#{page.matches.title}"></h1>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col"></th>
                    <th scope="col" class="text-center" th:text="#{page.matches.player1}"></th>
                    <th scope="col" class="text-center" th:text="#{page.matches.player2}"></th>
                    <th scope="col" class="text-center" th:text="#{page.matches.winner}"></th>
                    <th scope="col" class="text-center" th:text="#{page.matches.turns}"></th>
                    <th scope="col" class="text-center" th:text="#{page.matches.duration}"></th>
                    <th scope="col" class="text-center" th:text="#{page.matches.playedAt}"></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="match : ${matches}">
                    <td class="text-center"><a th:text="#{page.matches.show}" th:href="@{'/match/' + ${match.id}}"></a></td>
                    <td th:text="${match.bot1.teamBotLabel}"></td>
                    <td th:text="${match.bot2.teamBotLabel}"></td>
                    <td th:text="${match.winnerLabel}"></td>
                    <td th:text="${match.turnCount}" class="text-center"></td>
                    <td th:text="${#numbers.formatDecimal(match.durationMillis / 1000d, 1, 2)}" class="text-center"></td>
                    <td th:text="${#temporals.format(match.startedDateTime, 'dd-MM-yyyy HH:mm:ss')}" class="text-center"></td>
                </tr>
            </tbody>
        </table>
        <div class="font-weight-light font-italic text-center" th:text="#{page.matches.results(${matches.size()})}"></div>
    </main>
</body>
</html>
