<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <title th:text="#{page.scores.title}"></title>

    <style>
        .score-table > tbody > tr:nth-child(1) {
            background-color: goldenrod;
            font-weight: bold;
        }

        .score-table > tbody > tr:nth-child(2) {
            background-color: silver;
        }

        .score-table > tbody > tr:nth-child(3) {
            background-color: sandybrown;
        }
    </style>
</head>
<body>
    <main layout:fragment="content" class="container">
        <h2 th:text="#{page.scores.title}" class="text-center"></h2>
        <table class="table table-sm score-table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" class="text-center" th:text="#{page.scores.rank}"></th>
                    <th scope="col" th:text="#{page.scores.team}"></th>
                    <th scope="col" class="text-center" th:text="#{page.scores.wins}"></th>
                    <th scope="col" class="text-center" th:text="#{page.scores.draws}"></th>
                    <th scope="col" class="text-center" th:text="#{page.scores.losses}"></th>
                    <th scope="col" class="text-center" th:text="#{page.scores.total}"></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="ranking,iter : ${rankings}">
                    <th th:text="${iter.index} + 1" scope="row" class="text-center"></th>
                    <td><a th:href="@{'/team/' + ${ranking.user.id}}" th:text="${ranking.user.teamName} + ' (' + ${ranking.bot.name} + ')'" class="text-dark"></a></td>
                    <td th:text="${ranking.wins}" class="text-center"></td>
                    <td th:text="${ranking.draws}" class="text-center"></td>
                    <td th:text="${ranking.losses}" class="text-center"></td>
                    <td th:text="${ranking.total}" class="text-center"></td>
                </tr>
            </tbody>
        </table>
    </main>
</body>
</html>
