<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <title>Show Match</title>
    <script th:src="@{/static/js/matchviewer.js}"></script>

    <style>
        #gameView,
        #errorLabel {
            text-align: center;
        }

        #gameCanvas {
            border: 1px solid black;
        }
    </style>
</head>
<body th:onload="'matchViewer.init(\'' + ${matchDataUrl} + '\')'">
<main layout:fragment="content" class="container">
    <div id="errorLabel" class="alert alert-danger" role="alert" hidden>ERROR: the match data could not be loaded</div>

    <div id="gameView" hidden>
        <canvas id="gameCanvas" width="600" height="600"></canvas>

        <div>
            <span>Turn: <span id="currentTurn"></span></span><span class="ml-3">Speed: <span id="speed"></span>x</span>
        </div>

        <div>
            <button onclick="matchViewer.goToStart();" title="Go to start">|&lt;</button>
            <button onclick="matchViewer.goToPreviousTurn();" title="Go to previous turn">&lt;</button>
            <button onclick="matchViewer.togglePlay();" title="Toggle play/pause">Play / Pause</button>
            <button onclick="matchViewer.goToNextTurn();" title="Go to next turn">&gt;</button>
            <button onclick="matchViewer.goToEnd();" title="Go to end">&gt;|</button>
            <button onclick="matchViewer.decreaseSpeed();" title="Decrease speed" class="ml-3">&lt;&lt;</button>
            <button onclick="matchViewer.increaseSpeed();" title="Increase speed">&gt;&gt;</button>
        </div>
    </div>

    <canvas id="preCanvas" hidden></canvas>
</main>
</body>
</html>
