<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <title>Show Match - GridWars</title>
    <script th:src="@{/static/js/matchviewer.js}"></script>

    <style>
        #gameView {
            text-align: center;
        }

        #gameCanvas {
            border: 1px solid black;
        }
    </style>
</head>
<body th:onload="'initws(\'' + ${matchDataUrl} + '\')'">
<main layout:fragment="content" class="container">
    <div id="gameView">
        <canvas id="gameCanvas" width="600" height="600"></canvas>

        <div>
            <span>Current turn: <span id="currentTurn"></span></span>
        </div>

        <div>
            <button onclick="goToStart();">|&lt;</button>
            <button onclick="goToPreviousFrame();">&lt;</button>
            <button onclick="togglePlay();">Play / Pause</button>
            <button onclick="goToNextFrame();">&gt;</button>
            <button onclick="goToEnd();">&gt;|</button>
            <button onclick="decreaseSpeed();">Decrease Speed</button>
            <button onclick="increaseSpeed();">Increase Speed</button>
        </div>
    </div>

    <canvas id="preCanvas" hidden></canvas>
</main>
</body>
</html>
