<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <title th:text="${userToShow.teamName}"></title>

    <style>
        .bot-table tr,
        .bot-table td {
            vertical-align: middle;
        }
    </style>
</head>
<body>
<main layout:fragment="content" class="container">

    <h2 th:text="${userToShow.teamName}" class="text-center"></h2>

    <div th:if="${error}" th:text="#{page.team.show.upload.error(${error})}" class="alert alert-danger text-center" role="alert"></div>
    <div th:if="${success}" th:text="#{page.team.show.upload.success(${success})}" class="alert alert-success text-center" role="alert"></div>

    <div th:unless="${activeBot}">
        <div th:if="${isCurrentUserTheUserToShow}">
            <table class="bot-table table table-bordered table-sm">
                <tbody>
                    <tr>
                        <td class="table-active text-right" th:text="#{page.team.show.uploadFirst}"></td>
                        <td>
                            <form th:action="@{/bot/upload}" method="post" enctype="multipart/form-data">
                                <input id="botJarFile" name="botJarFile" type="file" required accept=".jar">
                                <button type="submit" th:text="#{page.team.show.upload.submit}"></button>
                            </form>
                            <small class="text-muted" th:text="#{page.team.show.uploadLimit}"></small>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- TODO add hint and link to getting started guide -->
        </div>

        <h4 th:unless="${isCurrentUserTheUserToShow}" th:text="#{page.team.show.noBotAvailable}" class="text-center text-muted"></h4>
    </div>

    <div th:if="${activeBot}">
        <h4 th:text="${activeBot.name}" class="text-center text-muted"></h4>

        <table th:if="${isCurrentUserTheUserToShow}" class="bot-table table table-bordered table-sm">
            <tbody>
                <tr>
                    <td class="table-active text-right" th:text="#{page.team.show.botClassName}"></td>
                    <td th:text="${activeBot.botClassName}"></td>
                </tr>
                <tr>
                    <td class="table-active text-right" th:text="#{page.team.show.botJarFile}"></td>
                    <td>
                        <a th:href="@{'/bot/download/' + ${activeBot.id}}" th:text="#{page.team.show.download}" target="_blank"></a>
                        <span th:text="#{page.team.show.botJarFileSize(${activeBot.jarFileSize / 1024})}"></span>
                    </td>
                </tr>
                <tr>
                    <td class="table-active text-right" th:text="#{page.team.show.uploaded}"></td>
                    <td th:text="${#temporals.format(activeBot.uploadedDateTime, 'dd-MM-yyyy HH:mm:ss')}"></td>
                </tr>
                <tr>
                    <td class="table-active text-right" th:text="#{page.team.show.uploadNew}"></td>
                    <td>
                        <form th:action="@{/bot/upload}" method="post" enctype="multipart/form-data">
                            <input id="botJarFile" name="botJarFile" type="file" required accept=".jar">
                            <button type="submit" th:text="#{page.team.show.upload.submit}"></button>
                        </form>
                        <small class="text-muted" th:text="#{page.team.show.uploadLimit}"></small>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="mt-3">
            <h3 th:text="#{page.team.show.scores}" class="text-center"></h3>
            <table class="table table-bordered table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" class="text-center" th:text="#{page.team.show.wins}"></th>
                        <th scope="col" class="text-center" th:text="#{page.team.show.draws}"></th>
                        <th scope="col" class="text-center" th:text="#{page.team.show.losses}"></th>
                        <th scope="col" class="text-center" th:text="#{page.team.show.total}"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="table-success text-center" th:text="${rankingInfo.wins}"></td>
                        <td class="table-warning text-center" th:text="${rankingInfo.draws}"></td>
                        <td class="table-danger text-center" th:text="${rankingInfo.losses}"></td>
                        <td class="text-center" th:text="${rankingInfo.total}"></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="mt-3">
            <h3 th:text="#{page.team.show.botMatches}" class="text-center"></h3>
            <table class="table table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col" class="text-center" th:text="#{page.team.show.matches.outcome}"></th>
                        <th scope="col" class="text-center" th:text="#{page.team.show.matches.team1}"></th>
                        <th scope="col" class="text-center" th:text="#{page.team.show.matches.team2}"></th>
                        <th scope="col" class="text-center" th:text="#{page.team.show.matches.turns}"></th>
                        <th scope="col" class="text-center" th:text="#{page.team.show.matches.duration}"></th>
                        <th scope="col" class="text-center" th:text="#{page.team.show.matches.started}"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="match : ${botMatches}"
                        th:class="${match.isBotWinner(activeBot)} ? 'table-success' : (${match.isBotLoser(activeBot)} ? 'table-danger' : (${match.draw} ? 'table-warning' : _))">
                        <td class="text-center"><a th:text="#{page.matches.show}" th:href="@{'/match/' + ${match.id}}"></a></td>
                        <td class="text-center"
                            th:text="${match.isBotWinner(activeBot)} ? 'Win' : (${match.isBotLoser(activeBot)} ? 'Loss' : (${match.draw} ? 'Draw' : (${match.failed ? 'FAILED' : _})))"
                            th:classappend="${match.failed ? 'text-danger font-weight-bold' : _}"></td>
                        <td><a th:href="@{'/team/' + ${match.bot1.user.id}}" th:text="${match.bot1.teamBotLabel}" class="text-dark" th:classappend="${match.bot1Winner} ? 'font-weight-bold' : _"></a></td>
                        <td><a th:href="@{'/team/' + ${match.bot2.user.id}}" th:text="${match.bot2.teamBotLabel}" class="text-dark" th:classappend="${match.bot2Winner} ? 'font-weight-bold' : _"></a></td>
                        <td th:text="${match.turnCount}" class="text-center"></td>
                        <td th:text="${#numbers.formatDecimal(match.durationMillis / 1000d, 1, 2)}" class="text-center"></td>
                        <td th:text="${#temporals.format(match.startedDateTime, 'dd-MM-yyyy HH:mm:ss')}" class="text-center"></td>
                    </tr>
                </tbody>
            </table>
            <div class="font-weight-light text-center" th:text="#{page.matches.results(${botMatches.size()})}"></div>
        </div>
    </div>

    <script th:if="${isCurrentUserTheUserToShow}">
        const maxFileSize = 5 * 1024 * 1024; // 5MB
        const uploadField = document.getElementById("botJarFile");

        if (uploadField) {
            uploadField.onchange = function () {
                if ((this.files.length > 0) && (this.files[0].size > maxFileSize)) {
                    uploadField.setCustomValidity("File is too big. The maximum upload file size is 5 MB.");
                } else {
                    uploadField.setCustomValidity("");
                }
            };
        }
    </script>
</main>
</body>
</html>
